.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message__Info > h4 :hover {
    cursor: pointer;
} 

.message:hover {
    background: rgba(47, 47, 47, 0.431);
}

.message__Info {
    margin-left: 20px;
}

.message__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}